<nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
  <a class="navbar-brand" href="#">LoginUsingJWT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>

      <!-- <li class="nav-item">
        <a  class="nav-link" routerLink="/login" style="color:white"
      
        >login</a>
      </li> -->
     
     
<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->

 <!-- <select  (change)="changeSuit($event)" required type="text" class="form-control"
 name="listItems"  >
 
 <option selected disabled >Open this select menu</option>
 <option *ngFor="let dl of listItems" [value]="dl">{{dl}}</option>
</select>  -->
<div>
<select (change)="changeSuit($event)" class="form-control" name="listItems" id="listItems" >
  <option selected disabled >Open this select menu</option>  
  <option *ngFor="let dl of listItems" [ngValue]="dl">{{dl}}</option>
</select>
</div>

    </ul>

  
    <div class="pull-right" >
      <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a href="#" (click)="logout()" *ngIf="securityObject?.isAuthenticated">logout {{securityObject.Email}}</a>
       
   
        <a class="nav-link" routerLink="/login" 
        *ngIf="!isAuthenticated">login <span class="sr-only">(current)</span></a>
      
      </li>
  
    </ul>
  </div> 


<!-- 
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a routerLink="/login" *ngIf="!securityObject.isAuthenticated">Login</a>
      <a href="#" (onclick)="logout()"
          *ngIf="securityObject.isAuthenticated">
        Logout {{securityObject.userName}}
      </a>
    </li>
  </ul>
-->
  </div> 
  

</div>
</nav>

<div class="container body-content">
            
  



<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
              <a *ngIf="securityObject.isAuthenticated" routerLink="/user">User</a>
            </li>
            <li>
              <a *ngIf="securityObject.isAuthenticated" routerLink="/page1">page1</a>
            </li>
            <li>
              <a *ngIf="securityObject.isAuthenticated" routerLink="/page2">page2</a>
            </li>
        
        </ul>
    </div> 
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">




           <router-outlet></router-outlet>

              </div>
    </div>
     <!-- /#page-content-wrapper -->
<!-- /#wrapper -->
<!-- Bootstrap core JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script> <!-- Menu Toggle Script -->
<script>
  $(function(){
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $(window).resize(function(e) {
      if($(window).width()<=768){
        $("#wrapper").removeClass("toggled");
      }else{
        $("#wrapper").addClass("toggled");
      }
    });
  });
   
</script>




</div>

</div>